@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    font-family: "Rubik","sans-serif";
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html,body{
    width: 100%;
    background-color: #f7fffd;
    overflow-x: hidden;
}

